{% extends "base.html" %}
{% block title %} Curatorem {% endblock %}
{% block content %}
<body class="text-center">
    <section class="hero">
      <div class="container">
          <h1>Curatorem</h1>
          <p class="subhead">A magical movie recommender</p>
          <div class="hero-cta">
            {% if user.is_authenticated %}
            <a href="/profile" class="primary-cta">Enter</a>
            {% else %}
            <a href="/login" class="primary-cta">Enter</a>
             {% endif %}
        </div>
      </div>
    </section>

</body>
{% endblock %}