{% extends "base.html" %}
{% block title %} All Movies {% endblock %}
{% block content %}
<section class="movie-details">
    <div class="left-col">
        <h2>Movie Details</h2>
        <ul>
            <li>{{movie.title}}</li>
            <li>{{movie.imdb_url}}</li>
        </ul>
    </div>
    <div class="right-col">
        <h2>Rate this Movie</h2>
        <form action="/moviedetails/{{movie.movie_id}}" method="POST" id="ratingform">
            <input type="hidden" name="movie_id" value={{movie.movie_id}}>
            <select class="rating-selector" name="rating"form="ratingform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <input type="submit" class="primary-cta" value="Submit">
        <input type="button" class="primary-cta" value="Back" onClick="history.go(-1);">
      </form>        
    </div>
</section>
{% endblock %}