{% extends "base.html" %}
{% block title %} All Movies {% endblock %}
{% block content %}

<div class="container mw-60">
<div class="album py-5">

  
      <div class="row">
        {% if movies != [] or [''] %}
        {% for movie in movies: %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src=" {{poster}} " data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">{{ movie.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-primary stretched-link" href="/moviedetails/{{ movie.movie_id }}"> Rate Movie </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

    </div>

  </div>

{% endblock %}