{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %} 
<section class="hero">
  <div class="container">
    <h1>Hello {{ name }}!</h1>
    <p>You can find all the movies you have rated here! <br> You are user number {{ user_id }}</p>
    <p>
      <a class="primary-cta" id="rate_button" href="/movie_list">Rate Movies</a>
      <a href="/recommendations" class="primary-cta">View Recommendations</a>
    </p>
  </div>
</section> 

  {% if movie_ratings|length %}
<section class="movies">
  {% for title,info in movie_ratings.items(): %}
  <div class="movie-card">
    <img src="#" alt="">
    <blockquote>{{ title }}</blockquote>
    <p class="card-text">Rating: {{ info[1] }}</p>
    <a class="primary-cta" href="/moviedetails/{{ info[0] }}"> More info </a>
  </div>

  {% endfor %}
</section>

  {% else %}
  <section class="hero">
    <div class="container">
      <p>Please rate some movies to allow the recommendation engine to start generating movie recommendations</p>
    </div>
  </section> 
  {% endif %}

{% endblock %}