{% extends "base.html" %}
{% block title %} All Movies {% endblock %}
{% block content %}

    {% if recs|length %}
  <section class="movies">
    {% for title, id in recs: %}
    <div class="movie-card">
      <blockquote>{{ title }}</blockquote>
      <a class="primary-cta" href="/moviedetails/{{ id }}"> More info </a>
    </div>
    {% endfor %}
  </section>
    {% else %}
    <section class="hero">
      <div class="container">
        <p>Please rate some more movies to view recommendations</p>
      </div>
    </section> 
    {% endif %}
  

{% endblock %}